<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" color="dark" size="large"><ion-icon name="arrow-back-outline" size="large"></ion-icon></ion-button>
      </ion-buttons>

    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="height: 50%; width: 90%; display: flex; flex-direction: column; gap: 10px">
      <div style="height: 100px;  background: #fff; box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2); border-radius: 10px; margin-bottom: 20px; position: relative;">

        <div style="margin: 15px; display: flex; flex-direction: column; gap: 5px">
        <ion-text color="dark" style="font-weight: bold; font-size: 25px;">Shipping</ion-text>
        <div style="display: flex; align-items: center;  justify-content: space-between; ">
       <div style="display: flex; align-items: center;">
        <ion-icon size="large" color="medium" name="car-outline"></ion-icon>
        <ion-text color="medium"> Add Shipping Address</ion-text>
       </div>
        <div style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); margin-right: 10px;">
          <ion-button color="dark">Add</ion-button>

        </div>
        
      </div>

      

    </div>


      </div>
      <div style="height: 300px;  background: #fff; box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2); border-radius: 10px;">
      
    </div>

  </div>
  </div>


  
</ion-content>
