<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 30px">
  <!-- Registration Container -->
  <div style="margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); border-radius: 10px; padding: 40px;">
    <ion-item>
      <ion-input formControlName="firstName" label="First Name" labelPlacement="floating" placeholder="Enter First Name"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input formControlName="lastName" label="Last Name" labelPlacement="floating"  placeholder="Enter Last Name"></ion-input>

    </ion-item>

    <ion-item>
      <ion-input formControlName="email" label="Email" labelPlacement="floating" placeholder="Enter Email" errorText="Invalid Email" ngModel email></ion-input>



    </ion-item>
    <ion-item>
      <ion-input [clearOnEdit]="false" formControlName="password" [type]="showPassword ? 'text' : 'password'"  placeholder="Enter Password"  label="Password" labelPlacement="floating"></ion-input>
      <ion-button *ngIf="!showPassword" color="dark" (click)="toggleShowPassword()" fill="clear" slot="end"><ion-icon name="eye-off-outline"></ion-icon></ion-button>
      <ion-button *ngIf="showPassword" color="dark" (click)="toggleShowPassword()" fill="clear" slot="end"><ion-icon name="eye-outline"></ion-icon></ion-button>
    </ion-item>

    <ion-item>
      <ion-input [clearOnEdit]="false" formControlName="confirmPassword" [type]="showCheckPassword ? 'text' : 'password'" placeholder="Confirm Password" label="Confirm Password" labelPlacement="floating"></ion-input>
      <ion-button *ngIf="!showCheckPassword" color="dark" (click)="toggleShowCheckPassword()" fill="clear" slot="end"><ion-icon name="eye-off-outline"></ion-icon></ion-button>
      <ion-button *ngIf="showCheckPassword" color="dark" (click)="toggleShowCheckPassword()" fill="clear" slot="end"><ion-icon name="eye-outline"></ion-icon></ion-button>
    </ion-item>
    

    <div style="margin-top: 20px">
      <ion-text>Password should have at least:</ion-text>
      <ul>
        <li [style.color]="checkLength() ? 'green' : '#92949c	'">6 characters. <ion-icon *ngIf="checkLength()" name="checkmark-outline"></ion-icon></li>
        <li [style.color]="checkUpperCase() ? 'green' : '#92949c	'">One upper case letter. <ion-icon *ngIf="checkUpperCase()" name="checkmark-outline"></ion-icon></li>
        <li [style.color]="checkLowerCase() ? 'green' : '#92949c	'">One lower case letter. <ion-icon *ngIf="checkLowerCase()" name="checkmark-outline"></ion-icon></li>
        <li [style.color]="checkNumber() ? 'green' : '#92949c	'">One number. <ion-icon *ngIf="checkNumber()" name="checkmark-outline"></ion-icon></li>
      </ul>
    </div>

   



  <!-- Submit Button -->
  <ion-button type="submit" [disabled]="!formGroup.valid" expand="block" color="dark">Create Account</ion-button>
</div>

<div>
  <ion-text>Already have an account? <span style=" color: #C99B9B; font-weight: bold; border-bottom: 2px solid #C99B9B">Sign In</span></ion-text>
</div>
</form>