<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="user">
      <ion-button color="dark" size="large" (click)="presentSignOutAlert()"><ion-icon size="large" name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{title()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title()}}</ion-title>
    </ion-toolbar>
   
  </ion-header>


  

  <app-signup *ngIf="!showSignin && !user" (toggle)="toggleShowSignin()"></app-signup>
  <app-signin *ngIf="showSignin && !user" (toggle)="toggleShowSignin()"></app-signin>
  <div *ngIf="user" style="margin-top: 50px">
    
    <ion-text color="dark" style="font-weight: bold; font-size: 30px; margin-left: 15px">Hello, {{userObj?.firstName}}</ion-text>
    <ion-list style="margin-top: 20px; margin-left: 10px; margin-right: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); border-radius: 10px;">
      <ion-item>
        Saved Addresses
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        Past Orders
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        Change Email
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        Change Password
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        Contact Us
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
    
</div>
  
</ion-content>


<ion-footer>
  <div style="display: flex; justify-content: center; align-items: center;">
  <ion-button color="dark" fill="clear" size="large"><ion-icon size="large" name="logo-tiktok"></ion-icon></ion-button>
  <ion-button color="dark" fill="clear" size="large"><ion-icon size="large" name="logo-instagram"></ion-icon></ion-button>
  </div>
</ion-footer>
