<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956162261899-002u7kulakmbqpgicl48nrtqq4eilnnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956162261899-002u7kulakmbqpgicl48nrtqq4eilnnu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956162261899-vhluqqv5vqohmhjvt9fhuqt038l5fpj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOAoO486_JEwcuncfUvAsA80xAj1Fm9Og</string>
	<key>GCM_SENDER_ID</key>
	<string>956162261899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magnolia.mag</string>
	<key>PROJECT_ID</key>
	<string>magnolia-9e1f1</string>
	<key>STORAGE_BUCKET</key>
	<string>magnolia-9e1f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956162261899:ios:2564305cc9f305fd60258e</string>
</dict>
</plist>